@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap');


body {
  background-color: #0D1117;
}

.title {
  text-align: center;
  color: #A66CFF;
  font-size: 110px;
  font-family: 'Stick No Bills', sans-serif;
}

.contactme {
  text-align: center;
  color: #A66CFF;
  font-size: 80px;
  font-family: 'Stick No Bills', sans-serif;
}

.aboutme {
  text-align: center;
  color: #A66CFF;
  font-size: 80px;
  font-family: 'Stick No Bills', sans-serif;
}

hr {
  color: gray;
  width: 50%;
}

#aboutme {

  right: 630px;
  text-align: left;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  background: #161B22;
  padding: 20px;
  width: 600px;
  height: 210px;
}

#neofetch {
  color: white;
  text-align: left;
  font-size: 16px;
  border-radius: 5px;
  background: #161B22;
  padding: 20px;
  width: 600px;
  height: 15px;
}

#aboutmeo {
  font-family: 'Montserrat', sans-serif;
  color: white;
  text-align: left;
  font-size: 19px;
  border-radius: 5px;
  background: #161B22;
  padding: 20px;
  width: 600px;
  height: 360px;
}

#logo {

  right: 1100px;
  bottom: 490px;
}

#pfp {

  right: 880px;
  top: 1350px;
  border-radius: 50%;
}

#line {
  position: center;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-twitter {
  background: #161B22;
  color: white;
}

.fa-instagram {
  background: #161B22;
  color: white;
}

.fa-github {
  background: #161B22;
  color: white;
}
